
*
{padding: 0;
margin: 0;

}

body{
    
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
background-color: rgb(185, 198, 209);
}
.menu1
{
    background: rgba(21, 179, 179, 0.815);
    text-align: center;

}
.menu1 ul
{
display: inline-flex;
list-style: none;
color: rgba(255, 255, 255, 0.904);
}
.menu1 ul li
{
width: 120px;
margin: 15px;
padding: 15px;


}
.menu1 ul li a
{
    text-decoration: none;
    color: #fff;

}